.col-3 {
    background-color: #c6fdb8;
    text-align: center;
    border: 1px solid black;
}

.image-head {
    text-align: center;
}

.image {
    border: 1px solid black;
}

.recycler {
    text-align: start;
}

.title {
    font-weight: bold;
    font-size: larger;
}

#montant-input {
    margin-bottom: 5%;
}

.don,
.mois {
    text-align: start;
}

.montant,
.donner-mois {
    text-align: center;
}

.fond {
    background-color: #F9FFA4;
}

.france {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: hidden;
    border-radius: 4px;
}

.titre-event {
    margin-top: 50px;
    text-align: center;
    font-size: 400%;
}

.col-4 {
    background-color: white;
    border: 1px solid black;
}

.jour,
.chiffre,
.mois-annee,
.adresse {
    text-align: center;
}

.chiffre {
    color: #1c8a00;
    font-size: 40px;
}

.jour,
.mois-annee {
    font-size: 30px;
}

.adresse {
    font-size: 35px;
    color: #1c8a00;
}

.intro {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

@media screen and (max-width: 640px) {

    .don,
    .montant,
    .montant-libre,
    .mois,
    .donner-mois,
    .recycler {
        font-size: small;
    }

    #montant-input2,
    #montant-input {
        width: 100px;
    }

    .image {
        width: 60%;
        height: 50%;
    }

    .france {
        width: 60%;
        height: 50%;
    }

    .chiffre {
        font-size: 29px;
    }

    .jour,
    .mois-annee {
        font-size: 19px;
    }

    .adresse {
        font-size: 23px;
    }
}