.col-3 {
    background-color: #c6fdb8;
    text-align: center;
    border: 1px solid black;
}

.imageee {
    text-align: center;
}

.recycler {
    text-align: start;
}

.title {
    font-weight: bold;
    font-size: larger;
}

.don,
.mois {
    text-align: start;
}

.montant,
.donner-mois {
    text-align: center;
}

.fond {
    background-color: #F9FFA4;
}


@media screen and (max-width: 640px) {
    .col-3 {
        width: 100%;
    }
}

.france {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: hidden;
    border-radius: 4px;
}

.titre-event {
    margin-top: 50px;
    text-align: center;
    font-size: 400%;
}

.col-4 {
    background-color: white;
    border: 1px solid black;
}

.jour,
.chiffre,
.mois-annee,
.adresse {
    text-align: center;
}

.chiffre {
    color: #1c8a00;
    font-size: 40px;
}

.jour,
.mois-annee {
    font-size: 30px;
}

.adresse {
    font-size: 35px;
    color: #1c8a00;
}

.intro {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}